<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--======ICON ABA ======-->
    <link rel="shortcut icon" href="/static/img_list/Logo.ico" type="image/x-icon">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/static/CSS/list.css">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <title>Check Home | biomteh</title>
</head>

<body>

    <!-- NAVSIDE -->
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">

                    <img src="/static/img_list/Logo.png" alt="">

                </span>

                <div class="text logo-text">
                    <span class="name">Biomtech</span>
                    <span class="profession">Seja bem-vindo!</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <!-- MENU -->
        <div class="menu-bar">
            <div class="menu">

                <!-- SEARCH -->
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Procurar...">
                </li>

                <!-- MENU CHECKLIST's -->
                <ul class="menu-links">

                    <div class="dtform">
                        <li class="nav-link" data-form="form1">
                            <a href="#" data-form="form1">
                                <i class='bx bx-calendar-check icon' data-form="form1"></i>
                                <span class="text nav-text" data-form="form1">faceAccess</span>
                            </a>
                        <li class="nav-link" data-form="form2">
                            <a href="#" data-form="form2">
                                <i class='bx bx-calendar-check icon' data-form="form2"></i>
                                <span class="text nav-text" data-form="form2">faceLock</span>
                            </a>
                        </li>
                        </li>
                    </div>
                    <!-- ToDo LIST -->
                    <li class="nav-link">
                        <a href="/templates/todo.html">
                            <i class='bx bx-user-check icon'></i>
                            <span class="text nav-text">ToDo List</span>
                        </a>
                    </li>

                    <!-- CALENDÁRIO -->
                    <li class="nav-link">
                        <a href="/templates/calendar.html">
                            <i class='bx bx-calendar icon'></i>
                            <span class="text nav-text">Calendário</span>
                        </a>
                    </li>

                </ul>
            </div>

            <!-- LOG-OUT -->
            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Sair</span>
                    </a>
                </li>

                <!-- DARK-MODE -->
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>
    </nav>

    <div class="home">
        <div class="forms">

            <form id="form1" action="#">
                <div class="conteiner">
                    <h3>Análise de faceAccess.</h3>
                    <!--==== ESCOLHER PEÇA ===-->
                    <div class="choose">
                        <strong class="strong-1">Qual o modelo?</strong>
                        <select name="equipamento" id="">
                            <optgroup label="faceaccess">
                                <option value="a030">A030</option>
                                <option value="a040">A040</option>
                                <option value="a050">A050</option>
                                <option value="a060">A060</option>
                                <option value="a060t">A060T</option>
                            </optgroup>
                        </select>
                    </div>

                    <!--==== CHECK LIST ===-->
                    <div id="checklist">
                        <ul>
                            <li class="check">
                                <input type="checkbox" name="r" value="1" id="01" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="01">Inspeção Caixa</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="2" id="02" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="02">Inspeção Berço</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="3" id="03" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>

                                <label for="03">Inspeção Visual</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="4" id="04" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="04">Kit Parafusos</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="5" id="05" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="05">Parte Frontal</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="6" id="06" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="06">Parte Traseira</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="7" id="07" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="07">Suporte Parede</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="8" id="08" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="08">Fonte 9v 1a</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="9" id="09" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="09">Chicote Bateria</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="10" id="10" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="10">Antena Wi Fi</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="11" id="11" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="11">Manual Usuario</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="12" id="12" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="12">Gabarito</label>
                            </li>
                            <strong class="strong-2">Testes Software</strong>
                            <li class="check">
                                <input type="checkbox" name="r" value="13" id="13" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="13">Teste Wifi</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="14" id="14" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="14">Teste Cadastro</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="15" id="15" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="15">Teste Face</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="16" id="16" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="16">Teste Card</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="17" id="17" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="17">Teste Relé</label>
                            </li>
                    </div>
                </div>


            </form>
        </div>
        <div class="forms">
            <form id="form2" action="#">
                <div class="conteiner">
                    <h3>Análise de faceLock.</h3>
                    <!--==== ESCOLHER PEÇA ===-->
                    <div class="choose">
                        <strong class="strong-1">Qual o modelo?</strong>
                        <select name="equipamento" id="">
                            <optgroup label="faceLock">
                                <option value="L010">L010</option>
                                <option value="L020">L020</option>
                                <option value="L030">L030</option>
                            </optgroup>
                        </select>
                    </div>

                    <!--==== CHECK LIST ===-->
                    <div id="checklist">
                        <ul>
                            <li class="check">
                                <input type="checkbox" name="r" value="18" id="18" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="18">Inspeção caixa</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="19" id="19" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="19">Inspeção isopor</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="20" id="20" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="20">Inspeção Visual</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="21" id="21" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="21">Kit Parafusos</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="22" id="22" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="22">Kit Frontal</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="23" id="23" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="23">Kit Traseira</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="24" id="24" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="24">Borracha parte frontal</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="25" id="25" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="25">Borracha parte traseira</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="26" id="26" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="26">Parte mecanica</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="27" id="27" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="27">Bateria</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="28" id="28" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="28">Fonte 9v 1a</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="29" id="29" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="29">Contato deslizante</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="30" id="30" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="30">Cartão de acesso</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="31" id="31" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="31">Cabo de dados</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="32" id="32" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="32">Chicote frontal</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="33" id="33" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="33">Chicote bateria</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="34" id="34" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="34">Antena wi fi</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="35" id="35" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="35">Fixador tambor chave</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="36" id="36" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="36">Tambor</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="37" id="37" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="37">Chave</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="21" id="21" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="21">Linguetas</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="38" id="38" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="38">Manual usuario</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="39" id="39" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="39">Gabarito</label>
                            </li>


                            <strong class="strong-2">Testes Software</strong>


                            <li class="check">
                                <input type="checkbox" name="r" value="40" id="40" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="40">Atualização de firmware</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="41" id="41" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="41">Teste chicote frontal </label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="42" id="42" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="42">Teste chicote bateria</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="43" id="43" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="43">Conexão wi-fi</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="44" id="44" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="44">Teste touchscreen</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="45" id="45" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="45">Teste camêra iv</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="46" id="46" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="46">Teste de camêra colorida</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="47" id="47" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="47">Spekear </label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="48" id="48" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="48">Cadastro de ususario</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="49" id="49" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="49">Teste de acionamento mec.</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="50" id="50" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="50">Teste de chave</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="51" id="51" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="51">Teste cartão de acesso</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="51" id="51" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="51">Teste senha pin </label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="52" id="52" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="52">Teste reconhecimento facial </label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="53" id="53" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="53">Teste fonte 9v 1a</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="54" id="54" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="54">Teste bateria</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="55" id="55" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="55">Exclusão de usuario</label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="56" id="56" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="56">Reset de fabrica </label>
                            </li>
                            <li class="check">
                                <input type="checkbox" name="r" value="57" id="57" class="custom-checkbox">
                                <i class='bx bxs-check-circle icon'></i>
                                <label for="57">Inversão maçaneta</label>
                            </li>

                            <!--insirir img-->

                            <li class="upload-img">

                                <input class="file-input" type="file" name="file" hidden>
                                <i class="fas fa-cloud-upload-alt icon-1"></i>

                                <label for="file-input">Upload de imagem.</label>

                                <section class="progress-area"></section>
                                <section class="uploaded-area"></section>

                            </li>
                        </ul>

                        <!--insirir OBS-->
                        <div class="notes">
                            <textarea name="" id="" placeholder="Anotações..."></textarea>
                        </div>



                        <!-- Botão de download -->
                        <button class="download-btn">
                            <i class='bx bxs-download icon'></i>
                            <span class="text">Baixar Formulário em PDF</span>
                        </button>
                    </div>
                </div>
        </div>

        </form>
    </div>


    </div>

    <script>
        const menuLinks = document.querySelectorAll(".dtform");
        const forms = document.querySelectorAll("form");

        // ocultar todos os formulários, exceto o primeiro
        for (let i = 1; i < forms.length; i++) {
            forms[i].style.display = "none";
        }

        // adicionar evento de clique aos links do menu
        menuLinks.forEach(link => {
            link.addEventListener("click", e => {
                e.preventDefault();

                // obter o id do formulário a ser exibido
                const formId = e.target.getAttribute("data-form");

                // ocultar todos os formulários
                forms.forEach(form => {
                    form.style.display = "none";
                });

                // exibir o formulário selecionado
                document.getElementById(formId).style.display = "block";
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/Javascript/list.js"></script>
    <script>

        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");


        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })

        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })

        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });

        const textarea = document.querySelector("textarea");
        textarea.addEventListener("keyup", e => {
            textarea.style.height = "63px";
            let scHeight = e.target.scrollHeight;
            textarea.style.height = `${scHeight}px`;
        });

    </script>

</body>

</html>